<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #333;
      }
      .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color:rgb(103, 181, 244);
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <p>Enter <b>{{otp}}</b> in the app to verify your email address and complete the signup.</p>
    <p>This code <b>expires in 1 hour</b></p>
  </body>
</html>
